@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Poor+Story&family=Press+Start+2P&display=swap');
*{
        box-sizing: border-box;
        user-select: none;
        margin: 0;
        padding: 0;
        --monomaniac : 'Monomaniac One', sans-serif;
        --start: 'Press Start 2P', sans-serif;
        --poor: 'Poor Story', sans-serif;
        --dark-blue-color:#1b223a;
        --soil-color:#ca8e4e;
        --layer-color:#1b223a94;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.game {
    overflow: hidden;
    border-radius: 15px;
    width: 768px;
    background-color: rgb(32, 32, 32);
    position: relative;
    height: 90vh;
    box-shadow: 2px 2px 8px 0 rgb(126, 126, 126);
    border: 5px solid whitesmoke;
    margin: auto;
}
.top{
    position: relative;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 50%;
    width: 100%;
    background-color: var(--dark-blue-color);
}
.middle{
    position: relative;
    height: 15%;
    background-color: var(--soil-color);
}
.bottom{
    position: relative;
    height: 55%;
    width: 100%;
    background-color: var(--soil-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.hide{
    display:none
}

/*TOP-------------------*/
.moon{
    z-index: 99;
    position: absolute;
    top: 7%;
    left: 7%;
    height: 55px;
    width: 55px;
    background-color: #FFB226;
    border-radius: 50%;
    box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.2)
}
.star{
    z-index: 99;
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.39)
}
.stars :nth-child(1) {
    left: 10%;
    top: 45%;
}
.stars :nth-child(2) {
    left: 30%;
    top: 25%;
}
.stars :nth-child(3) {
    left: 45%;
    top: 10%;
}
.stars :nth-child(4) {
    left: 65%;
    top: 20%;
}
.stars :nth-child(5) {
    right: 18%;
    top:8%;
}
.stars :nth-child(6) {
    right: 10%;
    top: 20%;
}
.desert-top{
    position: relative;
    top:-30px;
    height: 150%;
    width: 100%;
    z-index: 10;
}

#score {
   position: absolute;
   z-index: 999;
   top: 65%;
   right: 15px;
   font-size: 1.6em;
   color: var(--dark-blue-color);
   font-family: var(--monomaniac);
   display: none;
}
/*MIDDLE-------------------*/
.desert-middle{
    position: relative;
    top: -40px;
    width: 100%;
    height: 70px;
}
.desert-middle-2{
    z-index: 99;
    position: relative;
    top: -60px;
    left: -40px;
    width: 125%;
    height: 100px;  
}
#cactus-bg{
    display: none;
    position: absolute;
}
#cactus-bg img{
    position:absolute;
}
#cactus-bg-1{
    height: 120px;  
    top:-75px;
    z-index: 999;
    left: 780px;
    animation:initial
}
#cactus-bg-2{
    height: 140px;
    top: -90px;
    left: 1080px;
    z-index: 999;
    animation:initial
}
#cactus-bg-3{
    height: 140px;
    top:-170px;
    left: 1080px;
    z-index: 20;
    animation:initial
}

@keyframes cactus-bg {
    0% { left: 780px; }
    100% { left: -1200px; }
}
#start-screen {
    line-height: 1.5;
    width: 100%;
    z-index:999;
    position: absolute;
    top: 0;
    left: 50%;
    font-family: var(--start);
    transform: translate(-50%, 0);
    text-align: center;
    color: var(--dark-blue-color);
}
/*BOTTTOM*/
#track{
    display: none;
}
.desert-bottom{
    position: absolute;
    top: -100px;
    height:150%;
    left: -100px;
    width: 125%;
}
.desert-bottom-2{
    position: absolute;
    top: 50px;
    height: 100%;
    left: -100px;
    width: 125%;
}
.game-area{
    position:relative;
    z-index: 999;
}
.base-ground{
    position: absolute;
    top: 70px;
    height: 80px;
    left: 0px;
}
#ground{
    position: absolute;
    top: 100px;
    left: 0px;
}
@keyframes ground {
    0% { left: 0px; }
    100% { left: -300px; }
}
#dino {
    position: absolute;
    width: 120px;
    height: 120px;
    top: -10px;
    left: 20px;
}
.jump {
    animation: jump 0.38s linear;
}
@keyframes jump {
    0% { top: -10px; }
    50% { top: -200px; }
    100% { top: -10px; }
}
#cactus-char{
    position: absolute;
    width: 65px; 
    height: 75px;
    top: 35px;
    left: 780px;
    animation: cactus-block 1.2s infinite linear;
}
@keyframes cactus-block {
    0% { left: 780px; }
    100% { left: 0px; }
}

#modal{
    display: none;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--layer-color);
    position: absolute;
    text-align: center;
}
.content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color:white;
    background-color:#ca8e4e;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #94693b;
    box-shadow: 2px 2px 4px 2px #b38657;
}
#headerMessage{
    font-family: var(--start);
    font-weight: 600;
}
#message{
    font-size: 1.2em;
    font-family: var(--poor);
}
.scores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-family: var(--poor);
}
#yourScore{
    line-height: 1;
    text-shadow:2px 2px #eecca6;
    font-weight: 600;
    font-size: 2em;
    font-family: var(--monomaniac);
    color: var(--dark-blue-color);
}
.highestScore{
    font-size: 1.1em;
    font-family: var(--poor);
}
#highestScore
{
    font-weight: 400;
    font-family: var(--monomaniac);
}
.action{
    outline-color: none;
    cursor: pointer;
    margin-top: 6px;
    padding: 5px;
    background-color: #313b6b;
    border: 2.5px solid #2d2b55;
    width: fit-content;
    border-radius: 5px;
    font-weight: 300;
    color: white;
    font-size: 0.75em;
    font-family: var(--start);
}
.action:hover{
    background-color: #1e1b49;
}

@media only screen and (min-height:640px) and (min-width:640px)
{
    .desert-top{
        height: 100%;
        z-index: 0;
    }
    .desert-middle{
        top: -125px;
        height: 200px;  
        width: 100%;
    }
    .desert-middle-2{
        top: -210px;
        height: 150px;  
    }
   
    .base-ground{
        top: 100px;
        width: 100%;
        height: 100px;
    }
    #ground{
        top: 140px;
    }    
    .desert-bottom{
           top: -225px;
           height: 400px;
    }
    .desert-bottom-2{
        top:25px;
    }
    #cactus-bg-1{
        height: 150px;  
        top:-190px;
    }
    #cactus-bg-2{
        height: 160px;
        top: -200px;
    }
    #cactus-bg-3{
        height: 200px;
        top:-300px;
    }
    #dino {
        width: 100px;
        height: 100px;
        top: 50px;  
    }
    #cactus-char{
        width: 55px; 
        height: 75px;
        top: 75px;
    }
    
}
@media only screen and (max-width: 800px) {
    .game {
        border-radius: 0px;
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
    }
    .content{
        width: 90%;
        gap: 10px;
    }
}
@media only screen and (max-width: 640px) {
    .stars :nth-child(1) {
        top: 35%;
    }
    .desert-top{
        width: auto;
        height: 100%;
        z-index: 0;
    }
       
        .desert-middle{
            top: -85px;
            width: 100%;
        }
        .desert-middle-2{
            top: -120px;
            height: 120px;  
        }
        .desert-bottom{
            top: -200px;
            height:100%;
            width: 150%;
            left: -100px;
        }
        .desert-bottom-2{
            width: 150%;
        }
        #cactus-bg-1{ 
            height: 100px;  
            top:-90px;
        }
        #cactus-bg-2{
            height: 120px;
            top: -110px;
        }
        #cactus-bg-3{
            height: 120px;
            top:-190px;
        }
}
@media only screen and (max-height: 350px) and (min-width: 800px) {   
    .moon{
        top: 5%;
        left: 3%;
        height: 45px;
        width: 45px;
    }   
        .desert-middle{
            top: -5px;
            width: 100%;
        }
        .desert-middle-2{
            top: -100px;
            height: 100px;  
        }
        .desert-bottom{
            top: -20px;
            height:100%;
            width: 150%;
            left: -100px;
        }
        .desert-bottom-2{
            width: 150%;
        }
        .base-ground{
            top: 50px;
            width: 100%;
            height: 40px;
        }
        #ground{
            top: 55px;
        }
        #dino {
            width: 90px;
            height: 90px;
            top: -25px;  
        }
        .jump {
            animation: jump 0.38s linear;
        }
        @keyframes jump {
            0% { top: -10px; }
            50% { top: -110px; }
            100% { top: -10px; }
        }
        #cactus-char{
            width: 45px; 
            height: 65px;
            top: 0;
        }
        #cactus-bg-1{ 
            height: 100px;  
            top:-90px;
        }
        #cactus-bg-2{
            height: 120px;
            top: -110px;
        }
        #cactus-bg-3{
            height: 120px;
            top:-180px;
        }
}
#countdown{
    background: var(--layer-color);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
@keyframes countdown {
    0% { content: "3"; }
    50% { content: "2"; }
    100% { content: "1"; }
  }
  #numbers{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #numbers::after {
    font-family: var(--monomaniac);
    color: #eea659;
    content: "";
    animation: countdown 3s steps(3) forwards;
    font-size: 5em;
  }
